.entry-page {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.posts-recommendation-container {
   
}

.posts-recommendation-container.expanded {
    grid-template-columns: minmax(0, 1fr);
}

.post-section {
    display: flex;
    justify-content: center;
    /* overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #2a3754 #1a2542; */
}

.recommendations-section {
    position: sticky;
    top: 20px;
    height: fit-content;
    padding-right: 20px; /* Added right padding */
}

.toggle-recommendations {
    position: absolute;
    right: 360px;
    top: 20px;
    background: #1a2542;
    border: 1px solid #2a3754;
    color: #8b95a9;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    z-index: 10;
}

.expanded .toggle-recommendations {
    right: 10px;
}

.toggle-recommendations:hover {
    background: #2a3754;
    color: #ffffff;
}

@media (max-width: 1024px) {
    .posts-recommendation-container {
        grid-template-columns: 1fr;
    }
    
    .recommendations-section {
        display: none;
    }
    
    .toggle-recommendations {
        display: none;
    }
}