/* Main Container */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #131c35;
  }
  
  /* Box */
  .register-box {
    background-color: #011a25;
    padding: 40px;
    padding-top: 80px;
    width: 500px;
    text-align: center;
  }
  
  /* Title and Subtitle */
  .register-title {
    color: white;
    font-size: 26px;
    margin-bottom: 5px;
  }
  
  .register-subtitle {
    color: white;
    font-size: 17px;
  }
  
  .register-login {
    color: #7b8cff;
    cursor: pointer;
  }
  
  /* Form */
  .register-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .register-label {
    text-align: left;
    color: white;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .register-input {
    width: 95%;
    padding: 14px;
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: #D3D3D3;
    border: none;
    border-radius: 5px;
  }

  .register-select {
    width: 100%;
    padding: 14px;
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: #D3D3D3;
    border: none;
    border-radius: 5px;
  }
  
  /* Button */
  .register-btn-primary {
    background-color: #007bff;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    width: -webkit-fill-available;
  }
  
  .register-btn-primary:hover {
    background-color: #0056b3;
  }
  
  /* Icons */
  .register-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .register-refresh {
    font-size: 22px;
    cursor: pointer;
    margin: 0 10px;
  }
  
  .register-circle {
    width: 30px;
    height: 30px;
    background-color: #d9d9d9;
    border-radius: 50%;
    margin: 0 5px;
  }
  
  .link-login-link{
    color: #007BFF;
    text-decoration: none;
}

.register-buttons{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 15px;
}

.refresh-button{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
}

.login-loader{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}
.animate-spin {
  animation: spin 1s linear infinite;
}