/* Main Container */
.profilePageContainer {
    background-color: #0A0F1E;
    color: white;
    padding: 20px;
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: auto;
    display: flex;
    gap: 20px;
  }
  
  /* Left Section */
  .profilePageLeft {
    width: 35%;
    padding: 40px;
    text-align: center;
    color: white;
  }
  
  .profilePageAvatar img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid black;
  }
  
  .profilePageName {
    margin-top: 10px;
    font-size: 22px;
  }
  
  .profilePageYear {
    font-size: 16px;
    color: #b5acac;
  }
  
  .profilePageDetails {
    margin-top: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 2rem
  }
  
  .profilePageDetails p {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 8px 0;
  }
  
  /* Right Section */
  .profilePageRight {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 40px;
    padding-right: 100px;
  }
  
  /* Action Buttons */
  .profilePageActions {
    display: flex;
    gap: 10px;
  }
  
  .profilePageActions button {
    background:none;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  
  .profilePageActions button:hover {
    background-color: #534e4e;
  }
  
  /* Bio Section */
  .profilePageBio {
    background-color: #D9D9D9;
    color: black;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
  }
  
  /* Stats */
  .profilePageStats {
    display: flex;
    gap: 20px;
  }
  
  /* Connections */
  .profilePageConnections {
    background-color: #D9D9D9;
    color: black;
    padding: 15px;
    border-radius: 5px;
  }
  
  .profilePageConnections h3 {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 6px;
  }
  
  .profilePageConnectionList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    gap: 10px;
    margin-top: 10px;
  }
  
  .profilePageConnectionItem {
    flex: 1 1 calc(25% - 10px);
    display: flex;
    justify-content: center;
  }
  
  .profilePageConnectionItem img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: 2px solid white;
  }
  
  .profilePageSeeAll {
    display: block;
    text-align: right;
    color: blue;
    text-decoration: none;
    margin-top: 20px;
  }
  
  .profilePageSeeAll:hover {
    text-decoration: underline;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .profilePageContainer {
      flex-direction: column;
      align-items: center;
    }
  
    .profilePageLeft,
    .profilePageRight {
      width: 100%;
      padding: 0px;
    }
  }
  