.notification-list-container {
  min-width: 54%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 10px;
}

.notification-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.read-unread-notif {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
}

.read-unread-notif span {
  padding: 5px 10px;
  width: 50px;
  text-align: center;
  border-radius: 8%;
  font-size: 14px;
  border: 1px solid #4d4d4d;
  cursor: pointer;
}

.notification-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0px;
  background-color: #0A0F1E;
  list-style: none;
}

.notification-item {
  width: 600px;
  padding: .2rem 1rem;
  min-height: 95px;
  max-height: 110px;
  position: relative;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.notification-item:not(:last-child) {
  border-bottom: 1px solid #3a3a3a;
}

/* .notification-item.unread {
    background: #f0f8ff;
  } */

.notification-item:hover {
  background: #10172c;
  cursor: pointer;
  outline: 1px solid #0c3678;
}

.notification-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sender-info {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgb(246, 246, 246);
}

.notification-icon {
  width: 22px;
  height: 22px;
  stroke-width: 2;
  margin-right: 8px;
}

.notification-icon.link {
  color: #3b82f6;
  /* blue */
}

.notification-icon.accepted {
  color: #10b981;
  /* green */
}

.notification-icon.post-like {
  color: #ef4444;
  /* red */
}

.notification-icon.comment-like {
  color: #3b82f6;
  /* blue */
}

.notification-icon.comment {
  color: #9333ea;
  /* purple */
}

.notification-icon.default {
  color: #9ca3af;
  /* gray */
}


.notification-time {
  margin: 0;
  font-size: 0.86rem;
  color: #888;
  font-size: 12px;
  color: #8b95a9;
}


.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.sender-name {
  font-weight: bold;
  font-size: 1rem;
}

.sender-info p {
  margin: 0;
  color: #cbcbcb;
}

.sender-info h4 {
  margin: 0;
}

.notification-message {
  margin-top: 8px;
  font-size: 0.95rem;
  color: #333;
}

.notification-other-content {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.comment-text {
  margin: 0;
  font-size: 0.95rem;
  color: #aeaeae;
}

.link-actions {
  width: 90%;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  gap: 1rem;
  gap: 10px;
}

.accept-button,
.reject-button {
  padding: 6px 12px;
  font-size: 0.85rem;
  border: none;
  border-radius: 6px;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  width: 120px;
}

.accept-button {
  background-color: #4caf50;
  color: white;
  background: #198754;
}

.reject-button {
  background-color: #f44336;
  color: white;
  background: #dc3545;
}

.infinite-scroll-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px; /* Fixed height to prevent UI shifting */
  margin-top: 10px;
}

.no-more-notification {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: white;
}



