.post-filter{
  color: rgb(242, 242, 242);
  background-color: #0A0F1E;
  padding: 14px 20px;
  max-height: 60vh;
}

.filter-header {
  border-bottom: 1px solid #4d5c89;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 3px;
}
.filter-header p {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
}

.filter-header svg {
 
}

.post-filter-options{
   /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 6px;
    padding: 1px 6px;
}

.filter-option {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1px 4px;
  gap: 4px;
  border-radius: 2px;
  transition: all .1s ease-in-out;
}

.filter-option:hover {
   background-color: #111a32;
}

.filter-option.selected {
  background-color: #092a86;
  color: white;
}

.filter-option p {
  font-size: 14px;
  color: rgb(219, 219, 219);
}

/* styling for each different filter option */
#general svg {
  color: yellow;
}

#event svg {
  color: rgb(65, 65, 230);
}

#opportunity svg {
  color: red;
}