.post-create-body {
    background-color: #131c35;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 100vh;
}

.post-create-body h3 {
    color: white;
}
.post-create {
    background-color: #011a25;
    padding: 40px;
    text-align: center;
    width: 60%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.close-icon {
    cursor: pointer;
    font-size: 18px;
    color: white;
    transition: color 0.3s ease;
}

.close-icon:hover {
    color: #ff4d4d;
}

.ql-container {
    background: #d3d3d3;
    color: black;
    min-height: 120px;
    border-radius: 5px;
    padding: 10px;
    border: none;
}

.upload-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
    flex-wrap: wrap;
}

.upload-btn {
    display: flex;
    align-items: center;
    background: #23303f;
    padding: 8px 14px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    color: white;
    transition: background 0.3s ease;
}

.upload-btn:hover {
    background: #0056b3;
}

.upload-btn input {
    display: none;
}

.refresh-icon {
    cursor: pointer;
    color: white;
    transition: transform 0.3s ease;
}

.refresh-icon:hover {
    transform: rotate(90deg);
}

.preview-img {
    width: 100%;
    max-height: 200px;
    object-fit: contain;
    border-radius: 8px;
    margin-top: 10px;
    border: 2px solid white;
}

.tags-section {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

.tag-btn {
    background: #23303f;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    transition: background 0.3s ease;
}

.tag-btn.active {
    background: #3b82f6;
    color: white;
}

.tag-btn:hover {
    background: #0056b3;
}

.date-picker {
    margin-top: 10px;
}

.date-picker input {
    background: #23303f;
    color: white;
    padding: 6px;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.post-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.discard-btn {
    background: #dc2626;
    padding: 10px 14px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    transition: background 0.3s ease;
}

.discard-btn:hover {
    background: #b22222;
}

.post-btn {
    background: #007bff;
    padding: 10px 14px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    transition: background 0.3s ease;
}

.post-btn:hover {
    background: #0056b3;
}
