.createpost-container {
    background-color: #131C35;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-top: 20px;
  }
  
  .createpost-title {
    color: white;
    margin-bottom: 10px;
  }
  
  .createpost-box {
    background-color: #0A0F1E;
    padding: 20px;
    border-radius: 8px;
    width: 80vw;
    color: white;
  }
  
  .createpost-close, .createpost-refresh{
    cursor: pointer; 
  }
  
  .createpost-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .createpost-icon {
    color: white;
    margin-right: 10px;
  }
  
  .createpost-text {
    flex-grow: 1;
    color: white;
  }
  
  .createpost-textarea {
    width: -webkit-fill-available;
    height: 80px;
    background: white;
    border: none;
    color: black;
    padding: 10px;
    border-radius: 5px;
    resize: none;
  }
  
  .createpost-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    
  }
  
  .createpost-upload {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .createpost-image {
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    width: 100;
    height: 300px;
    object-fit: contain;
  }
  
  .createpost-tags {
    display: flex;
    margin-top: 20px;
    gap: 4rem;
  }
  
  .createpost-option.checked {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 50px;
    position: relative;
    gap: .4rem;
    cursor: pointer;
  }
  
  .createpost-tick-button {
    position: absolute;
    top: -3px;
    right: -10px;
    background: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .createpost-tick-icon {
    color: black;
    width: 12px;
    height: 12px;
  }
  
  .createpost-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .createpost-date-container {
    display: flex;
    align-items: center;
  }
  
  .createpost-dateinput {
    padding: 5px;
    color: white;
    background: transparent;
    border: 1px solid white;
    border-radius: 0.2rem;
    margin-left: 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
}

/* Custom calendar icon */
.createpost-dateinput::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}
  
  .createpost-buttons {
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
    margin-top: 20px;
  }
  
  .createpost-post {
    background-color: #6A0DAD;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
  }
  
  .createpost-discard {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .createpost-media-display {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  
  .createpost-navigate-left,
  .createpost-navigate-right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 5px;
  }
  
  .createpost-navigate-left {
    left: 10px;
  }
  
  .createpost-navigate-right {
    right: 10px;
  }
  
  .createpost-image {
    max-width: 100%;
    max-height: 300px;
    object-fit: contain;
    border-radius: 5px;
  }
  
  video.createpost-image {
    background-color: black; /* Add a background for videos */
  }

  @media(max-width: 700px) {
    .createpost-tags{
      display: block;
    }
  }

  .login-loader{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}